meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Home Page

.wrapper
	header.header
		.header__container
			img.header__logo(src="@img/logo.svg" alt="logo")

			.header__menu.menu

				nav.menu__body
					ul.menu__list
						- var i = 0
						while i<5
							li.menu__item
								a.menu__link(href="#")= ["About Us","Services","Work","News","Contacts"][i++]
			.header__contacts.contacts-header
				.contacts-header__item
					.contacts-header__ico
						a(href="tel:4055550128")
							img(src="@img/contacts-ico-phone.svg" alt="contscts")
					.contacts-header__body
						.contacts-header__title Call us
						a.contacts-header__contact(href="tel:4055550128") (405) 555-0128
				.contacts-header__item
					.contacts-header__ico
						a(href="mailto:hello@createx.com")
							img(src="@img/contacts-ico-chat.svg" alt="contscts")
					.contacts-header__body
						.contacts-header__title Talk to us
						a.contacts-header__contact(href="mailto:hello@createx.com") hello@createx.com
			button.menu__icon.icon-menu(type="button")
				span

	main.page
		.hero
			button.swiper-button-prev(type="button")
						svg
							use(xlink:href="@img/arrow-slider.svg#arrow-slider")
			button.swiper-button-next(type="button")
						svg
							use(xlink:href="@img/arrow-slider.svg#arrow-slider")
			.hero__slider.swiper
				.hero__wrapper.swiper-wrapper
					.hero__slide.swiper-slide
						img.hero__img-bg(src="@img/hero-slider/hero-slider-bg-1.jpg" alt="hero slide")
						.hero__container
							.hero__title CREATE<span>X</span> CONSTRUCTION
							.hero__sub-title Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
							.hero__buttons
								button.hero__button.hero__button-lite(type="button") Learn more about us
								button.hero__button(type="button") SUBMIT REQUEST
					.hero__slide.swiper-slide
						img.hero__img-bg(src="@img/hero-slider/hero-slider-bg-1.jpg" alt="hero slide")
						.hero__container
							.hero__title CREATE<span>X</span> CONSTRUCTION
							.hero__sub-title Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
							.hero__buttons
								button.hero__button.hero__button-lite(type="button") Learn more about us
								button.hero__button(type="button") SUBMIT REQUEST
					.hero__slide.swiper-slide
						img.hero__img-bg(src="@img/hero-slider/hero-slider-bg-1.jpg" alt="hero slide")
						.hero__container
							.hero__title CREATE<span>X</span> CONSTRUCTION
							.hero__sub-title Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
							.hero__buttons
								button.hero__button.hero__button-lite(type="button") Learn more about us
								button.hero__button(type="button") SUBMIT REQUEST
			.hero__container
				.swiper-pagination
		.weare
			.weare__container
				.container-title.weare__title We are Createx Construction Bureau 
				.container-sub-title.weare__sub-title We are rightfully considered to be the best construction company in the USA.
				.weare__video
					img(src="https://s3-alpha-sig.figma.com/img/8f04/ba49/daf57a9a1ed5a34de19c0db9e25505c6?Expires=1691971200&Signature=NUn5yiNeKDKJLtFb6KMlljZ~PP5Xi0a2odJEBrK~ry6xwZiMry7f4bRffrYc0YP6UeRFmbfqcCRkgdcxpbVfIQpe-T0~mNb4C~CzTFrdYDxecs2kgcS6w3cnqnmCWrXrMisoFVwj~VnTye8m5eNqwHJ2lqbyU86cV3T2A0EDdUw2FRJgOE7RtY~YY~eCcYvGvyPK79UJer5JQs86zW1OZL9lfXh28rZgrcHTd555ULeNHviXglYSNGqhtg7nxijcKf2D8Fy-CkcCGNnbBgs0nk8pX-xywHYcvrs7XRa98jBq1jdQRMSrjNnevu~04jL5usVN1pWsghRbdSbJh0OZhQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4")
		.values
			.values__container
				h2.container-title.values__title Our core values
				h3.container-sub-title.values__sub-title Our mission is to set the highest standards for construction sphere.
				.values__body
					each item, i in ["1", "2", "3"]
						.values__item
							img.values__ico(src=["@img/values-ico-1.svg","@img/values-ico-2.svg","@img/values-ico-3.svg",][i])
							h3.values__title-item= ["Quality","Safety","Comfort"][i]
							p.values__text-item= ["Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.","Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.","Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad."][i]
			.values__container--wrapper-form
				h3.ineer-title.values__inner-title Want to know more? Ask us a question:
				form.values__form
					.values__item-form
						label.values__label Name
						input.values__input(type=text, placeholder="Your name")
					.values__item-form
						label.values__label Phone
						input.values__input(type=tel, placeholder="Your phone")
					.values__item-form
						label.values__label Message
						input.values__input(type=message, placeholder="Your message")
					.values__item-form
						button.values__button(type="submit") Send
		.services
			.services__container
				h2.container-title.services__title Our services
				h3.container-sub-title.services__sub-title Createx Construction Bureau is a construction giant with a full range of construction services.
				.services__wrapper
					each item, i in ["Construction","Project Development","Interior Design","Repairs"]
						.services__item
							.services__item-body
								.services__item-ico
									svg
										use(xlink:href=`@img/services-ico/services-ico-sprite.svg#services-ico-${i+1}`)
								.services__item-title= item
				.container__bottom.services__bottom
					.container__bottom-title Learn more about our services
					a.container__bottom-link-button(href="#") View services
		.projects
			.projects__container
				.projects__slider.swiper-projects
					.projects__wrapper.swiper-wrapper-projects
						.projects__slide.swiper-slide-projects
					button.swiper-button-prev-projects(type="button")
						svg
							use(xlink:href="@img/arrow-slider.svg#arrow-slider")
					button.swiper-button-next-projects(type="button") 1
						svg
							use(xlink:href="@img/arrow-slider.svg#arrow-slider")

	footer.footer footer
.pixelperfect